        </div>
        <hr>
        <aside>
          <!-- TODO: Decide on if Memberships text should be removed and then switching to navbar-expand-md? -->
          <!-- TODO: Support toggling menu without js on mobile -->
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSocials" aria-controls="navbarSocials" aria-expanded="false" aria-label="Toggle footer navigation with social media links">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="navbarSocials" class="collapse navbar-collapse pt-3">
                <section class="field-row navbar-nav nav-justified w-100 mb-2 mb-md-0">
                  <button class="flex-grow-1">Rubric Memberships</button>
                  <button class="flex-grow-1">Discord</button>
                  <button class="flex-grow-1">Github</button>
                  <button class="flex-grow-1">Instagram</button>
                  <button class="flex-grow-1">Facebook</button>
                </section>
              </div>
            </div>
          </nav>
        </aside>
        <footer>
          <div class="status-bar">
            <span class="status-bar-field">The Programming Club is supported by <a href="https://www.utas.edu.au/">UTAS</a> and affiliated with the <a href="https://tusa.org.au/">TUSA</a>.</span>
            <a class="status-bar-field" href="websiteabout.html" aria-label="Find out about the development of this website">
              Status Page
            </a>
          </div>
        </footer>
      </div>
    </div>
  </div>