  <div id="background" class="h-100 overflow-x-hidden">
    <div id="foreground" class="window mx-auto my-4 pb-1">
      <div class="title-bar">
        <div class="title-bar-text">
          Programming Club
        </div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <!-- TODO: Support toggling menu without js on mobile -->
        <!-- TODO: Decide if .navbar-expand-sm would be fine -->
        <nav class="navbar navbar-expand-md">
          <div class="container-fluid ps-2 pe-0 pe-sm-2">
            <button type="button" class="navbar-toggler mt-2" data-bs-toggle="collapse" data-bs-target="#navbarPages" aria-controls="navbarPages" aria-expanded="false" aria-label="Toggle header navigation with pages">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarPages" class="collapse navbar-collapse">
              <section class="field-row navbar-nav nav-justified w-100 mb-2 mb-md-0">%NAVBAR_ITEMS%</section>
            </div>
          </div>
        </nav>
        <div class="container">